@tailwind base;
@tailwind utilities;
@tailwind components;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#bccec9] text-[#242525] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  h3 {
    @apply text-gray-900;
  }

  /* nav{
        @apply z-[500]
    } */

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5e51e5] to-[#635bbd] text-white;
  }
}

.h2header {
  background: radial-gradient(red, blue, orange);
  -webkit-background-clip: text;
  color: transparent;
  animation: back 1s infinite ease-in-out;
}

@keyframes back {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

 nav{
    z-index: 99999;
}

.popup{
    animation: popUp .8s forwards ease-in-out;
}

@keyframes popUp {
    0%{
        opacity: 0;
        transform: translateY(0px);
    }

    100%{
        opacity: 1;
        transform: translateY(-50%);
    }
}


.popout{
    animation: popOut .5s forwards ease-in-out;
}

@keyframes popOut {
    0%{
        opacity: 0;
        transform: translateY(-50%);
    }

    100%{
        opacity: 0;
        transform: translateY(0px);
    }
}




/* .box1{
    animation: grow1 2s infinite ease-in-out;
    height: 90%;
}

@keyframes grow1 {   
    100%{
        height: 0%;
    }
} */
